nav {
    border: solid 1px black;
    
}

#climas {
    width: 50%;
    display: flex;
    list-style: none;
    float: right;
}

#regiones {
    width: 50%;
}

button {
    background-color: transparent;
    border: none;
}


