nav {
    border: solid 1px black;
    
}

#climas {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    float: right;
}

#regiones {
    width: 50%;
    border: solid 2px black;
}

button {
    background-color: transparent;
    border: none;
}

.rojo {
    color: red;
}

