<header class="mx-4 my-3">
    <div class="container-fluid mb-3">
      <h1 class=" d-inline">
        <img src="../../../assets/pngegg.png" width="50" height="50" class="d-inline-block align-top" alt="logo-climas">  
        Clima
      </h1>
      <h2 class="d-inline float-right">
        <span class="font-weight-bold">Chile - </span>
        {{active.nombre}}
      </h2>
    </div>
    <ul id="climas">
      <li class="mx-4">
        <button (click)="convertir(true)" 
          [ngClass]="{rojo: celsius}"
        >Celsius</button>
      </li>
      <li class="mx-4">
        <button (click)="convertir(false)"
          [ngClass]="{rojo: !celsius}"
        >fahrenheit</button>
      </li>
    </ul>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" id="regiones">
      <ng-container *ngFor="let region of listaRegion">
          <li [ngbNavItem]="region">
            <a ngbNavLink [routerLink]="['/climas',region.nombre]" >
              {{region.nombre}}
            </a>
          </li>
      </ng-container>
    </ul>
</header>
