
.card {
    border: none;
}

img {
    width: 140px;
    display: inline-block;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#card {
    text-align: center;
}

a {
    color: black;
}