<ul class="d-flex">
    <li *ngFor="let clima of climas" id="card">
        <a [routerLink]="['/actualizar', region, clima.dia]">
            <div class="card" style="width: 12rem;">
                <h5 class="card-title">{{clima.dia}}</h5>
                <img class="card-img-top" src="../../../assets/clima{{clima.clima}}.png" alt="{{clima.clima}}">
                <div class="card-body">
                    <p>{{clima.temperatura}}º</p>
                </div>
            </div>
        </a>
    </li>
</ul>