.form-select{
    // width: 35%;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
}

.form-check-input{
    border-width: 2px;
    border-color: black;
}

.form-control{
    // width: 32%;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
}

button{
    width: auto;
}