.form-select{
    width: 250px;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
}

.form-check-input{
    border-width: 2px;
    border-color: black;
}

.form-control{
    width: 220px;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
}

button{
    width: auto;
}